body {
  font-family: "new-hero", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #e5e1d6;
  font-size: 18px;
}
h1 {
  font-style: normal;
  font-size: 28px;
  font-family: "the-seasons", sans-serif;
  font-weight: 600;
  color: #3d516c;
  font-weight: 700;
}

body a {
  color: #000000;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 2;
  padding-top: 10px;
  padding-bottom: 10px;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
img {
  pointer-events: none;
}
a:hover {
  color: #485785;
  cursor: pointer;
  text-decoration: none;
}
.name {
  text-decoration: none;
}
.name a {
  text-decoration: none;
  color: #28282a;
  font-size: 32px;
}
.name h1 {
  font-size: 36px;
  font-weight: 200;
}
.wrapper {
  margin-left: 10%;
  margin-right: 6%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-bottom: 5%;
}

/* Navbar Styles */
.navbar {
  font-family: "the-seasons", sans-serif;
  font-weight: 500;
  font-size: 32px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  /* color: white; */
  height: 60px;
  margin-right: 10%;
}

.navLinks {
  display: flex;
  list-style: none;
  margin-top: 20px;
}

.navLinks li {
  margin: 0 15px;
}

.navLinks a {
  text-decoration: none;
  color: #0d0d0d;
  opacity: 0.6;
  font-size: 1.2rem;
  transition: color 0.3s;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
}

.navLinks a:hover {
  opacity: 1;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #0d0d0d;
  margin: 2px 0;
  transition: 0.3s;
}

/* responsive hamburger */
@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 5px;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
  }
  .navLinks a {
    opacity: 1;
  }

  .navLinks.active {
    display: flex;
  }

  /* Show nav menu when active */
  .navLinks.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    opacity: 80%;
  }
  .hamburger:hover {
    opacity: 100%;
  }
}

/* image and blurb with colourful backdrop */

.intro {
  display: flex;
  align-items: flex-start;
  margin-top: 5%;
  border-radius: 10px;
  padding-top: 6%;
  padding-bottom: 6%;
}

.imgContainer1 {
  overflow: hidden;
  width: 25%;
  height: 50%;
  display: flex;
  margin: 0;
  background-color: #ced4e2;
}
.intro img {
  width: 100%;
  display: flex;
}
.intro h1 {
  font-family: "new-hero", sans-serif;
}
.textbox {
  padding-left: 5%;
  color: #000000;
  width: 100%;
  margin: 0;
}

/* Featured Projects */
.featured {
  background-color: #546775;
  color: #ffffff;
  padding-top: 6%;
  padding-bottom: 6%;
}
.featured h1 {
  color: #ffffff;
}

.imgContainer2 {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding-top: 6%;
  padding-bottom: 2%;
}

.featImgs {
  display: flex;
  gap: 2%;
}

.imgContainer3 {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding-top: 14%;
  padding-bottom: 6%;
}

.projects {
  display: flex;
  gap: 10%;
}

.education h1 {
  padding-bottom: 1%;
  color: #3d516c;
  font-weight: 700;
  padding-top: 5%;
}

.experience h1 {
  padding-top: 8%;
  padding-bottom: 1%;
  color: #3d516c;
  font-weight: 700;
}
.techSkills h1 {
  padding-top: 8%;
  padding-bottom: 1%;
  color: #3d516c;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  padding-top: 1%;
  font-weight: 600;
}

.download {
  text-decoration: none;
  font-family: "tarif", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0d0d0d;
  font-size: 16px;
  padding: 2%;
  border-radius: 5px;
  background-color: #485785;
  color: #f6f6f4;
  opacity: 0.8;
}

.download:hover {
  background-color: #485785;
  color: #f6f6f4;
  opacity: 1;
}

.dexspeak img {
  width: 80%;
  padding-top: 3%;
}

.dexspeak {
  padding-top: 6%;
}

.dexspeak h1,
.westridge h1,
.nsp h1,
.freshForAll h1,
.plentifull h1 {
  padding-bottom: 1%;
}

.westridge {
  padding-top: 8%;
}
.westridge img {
  width: 80%;
  padding-bottom: 8%;
  padding-top: 2%;
}

.nsp img {
  width: 80%;
  padding-bottom: 8%;
  padding-top: 2%;
}

.freshForAll img {
  width: 80%;
  padding-bottom: 8%;
  padding-top: 2%;
}

.plentifull img {
  width: 80%;
  padding-bottom: 8%;
  padding-top: 2%;
}

/* Smarphone Portrait Mode*/
@media (max-width: 640px) {
  .intro {
    display: block;
  }
  .section2 {
    display: block;
  }
  .textbox {
    width: 98%;
    text-align: center;
  }
  .imgContainer {
    width: 100%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .technicalSkills,
  .contact {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }
  .dexspeak img,
  .plentifull img,
  .nsp img,
  .freshForAll img,
  .westridge img {
    width: 98%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .westridgeFeat,
  .dexspeakFeat {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 700px;
  }
  .featImgs {
    display: flex;
    gap: 2%;
  }
  .featImgs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .imgContainer2,
  .imgContainer3 {
    width: 100%;
    height: auto;
  }
  .imgContainer1 {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

.westridgeFeat a,
.dexspeakFeat a {
  color: #ffffff;
}
.westridgeFeat a:hover,
.dexspeakFeat a:hover {
  color: #ffffff;
  color: #9dc6e8;
}
