body {
  font-weight: 400;
  font-style: normal;
  background-color: #485785;
  font-size: 16px;
}
h1 {
  font-family: "tarif", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0d0d0d;
  font-size: 24px;
}
.name {
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 11.5%;
  text-decoration: none;
}
.name a {
  text-decoration: none;
  color: #00094b;
}
.name h1 {
  font-size: 40px;
  color: #00094b;
}
#wrapper {
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #fffef8;
  padding-bottom: 5%;
}

/* Navbar Styles */
.navbar {
  font-family: "tarif", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  /* color: white; */
  height: 60px;
  margin-right: 10%;
}

.navLinks {
  display: flex;
  list-style: none;
  margin-top: 20px;
}

.navLinks li {
  margin: 0 15px;
}

.navLinks a {
  text-decoration: none;
  color: #0d0d0d;
  opacity: 0.6;
  font-size: 1.2rem;
  transition: color 0.3s;
  white-space: nowrap;
}

.navLinks a:hover {
  opacity: 1;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #0d0d0d;
  margin: 2px 0;
  transition: 0.3s;
}

/* responsive hamburger */
@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 5px;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    background-color: #485785;
  }
  .navLinks a {
    opacity: 1;
  }

  .navLinks.active {
    display: flex;
  }

  /* Show nav menu when active */
  .navLinks.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

/* image and blurb with colourful backdrop */

.section1 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background-color: #8d9db4;
  align-items: center;
  padding: 5%;
  border-radius: 10px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.imgContainer {
  overflow: hidden;
  width: 20%;
  height: 50%;
  display: flex;
  margin: 0;
  background-color: #ced4e2;
  border-radius: 10px;
}
.section1 img {
  width: 100%;
  display: flex;
}
.textbox {
  color: #0d0d0d;
  width: 50%;
  display: flex;
  margin-top: 3%;
  align-items: center;
  margin: 0;
}
.section1 p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* section 2 */
.section2 {
  background-color: #ced4e2;
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  justify-content: center;
}

.technicalSkills,
.contact {
  background-color: #8d9db4;
  width: 32%;
  height: auto;
  margin: 2%;
  padding: 1%;
  color: #0d0d0d;
  border-radius: 10px;
  justify-content: center;
}

.experience,
.education {
  width: 45%;
  margin: 2%;
  color: #0d0d0d;
  border-radius: 10px;
}

.education ul {
  padding-left: 15%;
  padding-top: 5%;
}

/* About Me */

#plenti,
#jdc,
#masters,
#dogs,
#sports,
#travel,
#dogs {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background-color: #8d9db4;
  align-items: center;
  padding: 5%;
  border-radius: 10px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

#jdc,
#travel {
  background-color: #ced4e2;
}

.imgContainer2 {
  overflow: hidden;
  width: 25%;
  height: 50%;
  display: flex;
  margin: 0;
  background-color: #ced4e2;
  border-radius: 10px;
}
#entrepreneurship img,
#hobbies img {
  width: 100%;
  display: flex;
}

#entrepreneurship p,
#hobbies p {
  color: #0d0d0d;
  width: 80%;
  display: flex;
  margin-top: 3%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.imgContainer3 {
  width: 20%;
  height: auto;
  display: flex;
  overflow: hidden;
  padding-right: 3%;
  padding-left: 3%;
}

.imgContainer4 {
  width: 25%;
  height: auto;
  display: flex;
  overflow: hidden;
  background-color: #43565c;
  border-radius: 5px;
  padding: 6px;
}

.imgContainer5 {
  width: 25%;
  height: auto;
  display: flex;
  overflow: hidden;
  padding-right: 1%;
}

.imgContainer3 img,
.imgContainer4 img,
.imgContainer5 img {
  width: 100%;
  display: flex;
}

.portfolio {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.portItem {
  padding: 2%;
  padding-bottom: 5%;
  padding-left: 5%;
  margin-bottom: 5%;
  background-color: #ced4e2;
  border-radius: 10px;
}
.textContent {
  width: 60%;
  margin-left: 5%;
}

.textbox3 {
  display: flex;
  align-items: center;
}
.textbox3 p {
  width: 90%;
}
.textbox3 a {
  display: block;
  width: 90%;
  opacity: 0.7;
  color: #0d0d0d;
  font-family: "tarif", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
}

.textbox3 a:hover {
  color: #0d0d0d;
  opacity: 1;
}

.section2 ul {
  list-style: none;
}

.download {
  text-decoration: none;
  font-family: "tarif", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #0d0d0d;
  font-size: 16px;
  padding: 2%;
  border-radius: 5px;
  background-color: #485785;
  color: #f6f6f4;
  opacity: 0.8;
}

.download:hover {
  background-color: #485785;
  color: #f6f6f4;
  opacity: 1;
}

/* Smarphone Portrait Mode*/
@media (max-width: 640px) {
  .section1 {
    display: block;
  }
  .section2 {
    display: block;
  }
  .textbox {
    width: 98%;
    text-align: center;
  }
  .imgContainer {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .technicalSkills,
  .contact {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
  }

  .experience,
  .education {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
  }
  #plenti,
  #jdc,
  #masters,
  #dogs,
  #sports,
  #travel,
  #dogs {
    display: block;
  }
  .imgContainer2,
  .imgContainer3,
  .imgContainer4,
  .imgContainer5 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .textContent {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
  }

  .textbox3 {
    display: block;
  }
  .textbox3 p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border:solid red 3px; */
    width: 98%;
  }
  .textbox3 a {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
